.ng-spotlight-searchbar{
    z-index: 10;
    position: relative;
    height: 55px;
    background-color: #eee;
    box-shadow: 0 4px 1px -2px rgba(0,0,0,.14), 0 2px 2px 0 rgba(0,0,0,.098), 0 1px 5px 0 rgba(0,0,0,.084);
}

.ng-spotlight-icon{
    position: static;
    float: left;
    height: 22px;
    width: 22px;
    margin: 16.5px;
    background-size: cover;
}
.ng-spotlight-input{
    float: left;
    max-width: 350px!important;
    box-sizing: content-box;
    padding: 0;
    background-color: transparent;
    font-size: 1.7em;
    margin: 0;
    outline: 0!important;
    height: 55px;
    border: none!important;
    color: black;
    font-weight: 100;
    box-sizing: border-box;
}
