/* You can add global styles to this file, and also import other style files */

body{
    background: #008b8b;
    font-family: sans-serif;
}
h2{
    text-align: center;
    text-decoration: underline;
}
